<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>HouseLoan</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>SignInControllerServlet</display-name>
		<servlet-name>SignInControllerServlet</servlet-name>
		<servlet-class>com.loan.houseloan.Controller.SignInControllerServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>SignInControllerServlet</servlet-name>
		<url-pattern>/SignInControllerServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SignUpControllerServlet</display-name>
		<servlet-name>SignUpControllerServlet</servlet-name>
		<servlet-class>com.loan.houseloan.Controller.SignUpControllerServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>SignUpControllerServlet</servlet-name>
		<url-pattern>/SignUpControllerServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AdminInfoServlet</display-name>
		<servlet-name>AdminInfoServlet</servlet-name>
		<servlet-class>com.loan.houseloan.Controller.AdminInfoServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminInfoServlet</servlet-name>
		<url-pattern>/AdminInfoServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ApplyApplicationServlet</display-name>
		<servlet-name>ApplyApplicationServlet</servlet-name>
		<servlet-class>com.loan.houseloan.Controller.ApplyApplicationServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ApplyApplicationServlet</servlet-name>
		<url-pattern>/ApplyApplicationServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ApplicationStatusServlet</display-name>
		<servlet-name>ApplicationStatusServlet</servlet-name>
		<servlet-class>com.loan.houseloan.Controller.ApplicationStatusServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ApplicationStatusServlet</servlet-name>
		<url-pattern>/ApplicationStatusServlet</url-pattern>
	</servlet-mapping>

</web-app>